﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="StudentsAdd.aspx.cs" Inherits="ContosoUniversity.StudentsAdd" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
<h2>Add New Students</h2>
<p>
    <asp:DetailsView ID="StudentsDetailsView" runat="server"  
        DataSourceID="StudentsEntityDataSource" AutoGenerateRows="False" 
        DefaultMode="Insert"> 
        <Fields> 
            <asp:BoundField DataField="FirstMidName" HeaderText="First Name"  
                SortExpression="FirstMidName" /> 
            <asp:BoundField DataField="LastName" HeaderText="Last Name"  
                SortExpression="LastName" /> 
            <asp:BoundField DataField="EnrollmentDate" HeaderText="Enrollment Date"  
                SortExpression="EnrollmentDate" /> 
             <asp:CommandField ShowInsertButton="True" /> 
       </Fields> 
    </asp:DetailsView>
</p>
    <asp:EntityDataSource ID="StudentsEntityDataSource" runat="server" 
        ContextTypeName="ContosoUniversity.DAL.SchoolEntities" EnableFlattening="False" 
        EnableInsert="True" EntitySetName="People" EntityTypeFilter="Student"> 
    </asp:EntityDataSource>
</asp:Content>
